body{
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: #66bfbf;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h1 {
  margin-top: 0;
  color: #66bfbf;
  line-height: 2;
}

h3 {
  color: #11999e;
}

h4 {
  color: orange;
  font-family: 'Original Surfer', cursive;
}

div{
  background-color: white;
  text-align: center;
}

.top-container {
  background-color: yellow;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  display: inline-block;
  text-align: center;
  font-family: 'Original Surfer', cursive;
  padding: 100px 0;
}

.bottom-container {
  text-align: center;
  background-color: #66bfbf;
  margin: 50px 0 20px;
  padding: 40px 0 20px;
  }

.Web {
  text-decoration: underline;
  font-family: 'Original Surfer', cursive;
  font-weight: normal;
}
.quote {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: gold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.galaxy {
  width: 25%;
  float: left;
  margin-right: 10%;
}
.sandeep {
  width: 25%;
  float: right;
  margin-left: 10%;
}
.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #361836;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
